QUESTION NUMBER 1:

In [ ]:
import numpy as np
data=np.array([[4,6,4],[5,7,3],[9,0,7]])
data

In [33]:

# Create 2D array of size 3X4 with all zeros
zero=np.zeros((3,4))
zero

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [32]:
# Printing element in 2nd row and 3rd column
data[1,2]

3

In [34]:
# Finding max value in each column
max_col1=np.max(data[:,0])
max_col2=np.max(data[:,1])
max_col3=np.max(data[:,2])
max_col1,max_col2,max_col3

(9, 7, 7)

In [35]:
# Finding mean value of each row 
mean_row1=np.mean(data[0,:])
mean_row2=np.mean(data[1,:])
mean_row3=np.mean(data[2,:])
mean_row1,mean_row2,mean_row3

(4.666666666666667, 5.0, 5.333333333333333)

In [41]:
# Finding subarray of range 2 from given array
subarray=data[1:3,0:2]
subarray

array([[5, 7],
       [9, 0]])

In [42]:
# Question number 2:
import numpy as np
import statistics
dataset=np.array([5,3,6,4,3,6,9,0,4,1])
# to find mean
mean=np.mean(dataset)

# to find median
sorted_dataset=np.sort(dataset)
median=np.median(dataset)

# to find mode
mode=statistics.mode(dataset)
mean,median, mode,sorted_dataset

Q1=np.percentile(dataset,25)
Q3=np.percentile(dataset,75)
Q1,Q3,Q3-Q1

(3.0, 5.75, 2.75)

In [43]:
# Question number 3:

import pandas as pd40
data=pd40.DataFrame(columns=['Name','Age','Roll Number'])
data

Empty DataFrame
Columns: [Name, Age, Roll Number]
Index: []